.selected {color: #006AB3 !important;}

    h2, h3 {margin: 20px 0px 0px 0px;}
    
    .page-container {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -500px;
    margin-top: 0;
    }
    .menu {
    height: 340px;
    }
    .main {
    position: absolute;
    width: 728px;
    left: 242px;
    padding: 0px;
    margin: 0px;
    height: 100%;
    }
    .footer {
    bottom: 26px;
    }
 